<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="parentTableName" value="Facultate"/>
		<add key="childTableName" value="Profesor"/>
		<add key="pkColumn" value="id_facultate"/>
		<add key="fkColumn" value="id_facultate"/>
		<add key="fk" value="fk_Facultati_Profesori"/>
	</appSettings>
</configuration>