<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>

		<add key="parentTableName" value="Contacts"/>
		<add key="childTableName" value="Email_address"/>
		<add key="pkColumn" value="id"/>
		<add key="fkColumn" value="contact_id"/>
		<add key="fk" value="FK__Email_add__conta__29572725"/>
		<add key="insertCommand" value="insert into Email_address(id, contact_id, email_address) values(@id, @contact_id, @email_address)"/>
		<add key="updateCommand" value="update Caps set id=@id, contact_id=@contact_id, email_address=@email_address where contact_id=@contact_id"/>
		<add key="childId" value="contact_id"/>
		<add key="deleteCommand" value="delete from Email_address where contact_id=@contact_id"/>
			
		<!--<add key="parentTableName" value="Swimmers"/>
		<add key="childTableName" value="Swimwear"/>
		<add key="pkColumn" value="swimmer_id"/>
		<add key="fkColumn" value="swimmer_id"/>
		<add key="fk" value="FK_Swimwear_Swimmers"/>
		<add key="insertCommand" value="insert into Swimwear (swimmer_id, brand, description, price, color) values(@swimmer_id, @brand, @description, @price, @color)"/>
		<add key="updateCommand" 
			 value="update Swimwear set brand=@brand, description=@description, price=@price, color=@color where swimwear_id=@swimwear_id"/>
		<add key="childId" value="swimwear_id"/>
		<add key="deleteCommand" value="delete from Swimwear where swimwear_id=@swimwear_id"/>-->
				
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>